@media (max-width: 500px){
    .navbar{
        flex-direction: column;
        align-items: center;
    }

    .navbar a {
        padding: 16px 0;
        display: none;
    }
    .list{
        display: block;
    }
}