body{
    font-family: 'Courier New', Courier, monospace;
    display: flex; flex-direction: column;
    background-color: rgb(184, 176, 207);
}
header, footer{
    background-color: cadetblue;
    color: white;
    padding: 10px;
    text-align: center;
}
.galeria{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 25px;
}

.gallery-item{
    background-color: aquamarine;
    padding: 10px;
    text-align: center;
    flex-basis: 30%;
}