body{
    background-color: aquamarine;
}
header, footer{
    background-color: cadetblue;
    color: white;
    padding: 10px;
    text-align: center;
}

.hero{
    background: url(http://via.placeholder.com/1200x600) no-repeat center center/cover;
/*     background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */
    color: white;
    display: flex;
    align-items: center;
    align-content: center;
    height: 65vh;
    padding: 20px;
}
.hero-data{
    background: rgba(0, 0, 0, 0.5);
    padding: 15px;
    border-radius: 4px;
}

.hero h1{
    font-size: 30px;
    margin-bottom: 10px;
}

.hero p{
    font-size: 18px;
    margin-bottom: 10px;
}